<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


		<menuitem name="menu-project" title="Project Management" icon="fa-tasks" icon-background="violet" />

		<menuitem name="menu-project-all" parent="menu-project" title="All Projects" action="project.all" />

		<action-view name="project.all" title="Projects" model="com.axelor.project.db.Project">
				<view type="grid" name="project-grid" />
				<view type="form" name="project-form" />
		</action-view>

		<menuitem title="All Task" name="menu-task-all" action="task.all" parent="menu-project" />

		<action-view name="task.all" title="Project Task" model="com.axelor.project.db.ProjectTask">
<!-- 				<view type="tree" name="task.tree" /> -->
				<view type="grid" name="task-grid" />
				<view type="form" name="task-form" />
				<view type="kanban" name="task-kanban"/>
		</action-view>
		
		<menuitem title="All Task(tree)" name="menu-tast-all-tree" action="task.all.tree" parent="menu-project"/>
		<action-view name="task.all.tree" title="All Task(tree)">
		  <view type="tree" name="task.tree" />
		</action-view>









</object-views>